/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;}*/

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}


html, body {
    overflow: hidden;
}

body {
    font: 13px "Helvetica Neue", sans-serif;
    color: #222;
}

.project {
    position: relative;
    height: 500px; /* Why do I need to fix the height? */
}

.project > .left {
    position: absolute;
    top: 0;
    left: 0;
    width: 18em;
    bottom: 0;
    background: #fff;
    border-right: 1px solid #ccc;
}
.project > .grid {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 18em;
    overflow: hidden;
    overflow-x: auto;
}
.project .tasks-grid > .test {
    background: url(/assets/images/grid.png);
    height: 100%;
    width: 100%;
    margin-left: 1em; /* Space for conflicts zone */
}
.project .tasks-grid > .test:after {
    content: " ";
    display: block;
}

.project > .grid > .tasks-header {
    background: #ccc;
    height: 3em;
    border-bottom: 1px solid #aaa;
    margin-left: 1em; /* Space for conflicts zone */
}

.project > .grid > .tasks-header > header {
    height: 100%;
    line-height: 100%;
    display: inline-block;
    border-left: 1px solid #aaa;
    text-align: center;
    color: #777;
    text-shadow: 1px 1px 0 #ddd;
    text-overflow: ellipsis;
    overflow: hidden;
}

.project > .grid > .tasks-grid {
    height: 100%;
    overflow-y: auto;
}

.project > .grid > .tasks-grid .task {
    display: inline-block;
    height: 100%;
    position: relative;
    border-left: 1px solid #ddd;
}

.project > .grid > .tasks-grid .steps {
    position: absolute;
    overflow: hidden;
    border: 1px solid #ddd;
    width: 100%;
}

.project > .grid > .tasks-grid .steps:hover {
    background: rgba(0,0,0,.05);
}

.project > .grid > .tasks-grid .step {
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
}

.project > .grid > .tasks-grid .resource {
    position: absolute;
    width: 50px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
}
.project > .grid > .tasks-grid .resource:hover {
    box-shadow: 3px 3px 0 #f44;
}

.project > .grid > .tasks-grid > .conflicts {
    position: relative;
    width: 1em;
}

.project > .grid > .tasks-grid > .conflicts > div {
    position: absolute;
    width: 100%;
}