@(task: Task)

@import java.text.SimpleDateFormat

<article class="task" style="width: @{task.resources.size * 50}px;" data-id="@task.id" itemscope itemtype="http://schema.org/Event">
  <meta itemprop="startDate" content="@{new SimpleDateFormat("yyyy-MM-dd' 'HH:mm:ssZ").format(new java.util.Date(task.startTime * 1000 + 1328197073125L))}">
  <meta itemprop="name" content="@task.name">
  <div class="steps" style="top: @{task.startTime / 10}px;" draggable="true">
    @for(step <- task.steps) {
      <div class="step" style="height: @{step.duration / 10}px; width: 100%;">
          @for(resource <- step.resources) {
            <div class="resource" style="left: @{task.resources.indexOf(resource) * 50}px; background-color: #@{resource.color.toHexString.substring(2)}; height: @{step.duration / 10}px;"></div>
          }
        <div class="handle"></div>
      </div>
    }
  </div>
</article>