@(user: String, projects: Seq[Project])

@layout(user, Nil) {

  <h1>Projects</h1>

  @for(project <- projects) {
    <li><a href="@controllers.routes.Projects.project(project.id)">@project.name</a></li>
  }
  
  <a href="@controllers.routes.Projects.createProjectForm">New project</a>

  <script type="text/javascript">
    document.findAll('li > a').forEach(function (projectLink) {
      projectLink.onclick = function (e) {
        e.preventDefault();
        //app.navigate(this.href);
        return false
      }
    })
  </script>

}