@(user: String, project: Project)

@import play.api.libs.json.Json
@import controllers.Projects.conflictJson

@layout(user) {
  <div class="project" data-id="@project.id">
    <div id="left">
      @project.name
      @for(resource <- project.resources) {
        <div style="background-color: #@{resource.color.toHexString.substring(2)};">@resource.name</div>
      }
    </div>
    <div id="grid">
      <div id="tasks-header">
        @for(task <- project.tasks) {
          @_taskHeader(task)
        }
      </div>
      <div id="tasks-grid">
        @Html(views.projects.conflicts(Json.toJson(project.resourcesConflicts)))
        <div id="test">
          @for(task <- project.tasks) {
            @_task(task)
          }
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    init.Project(@Html(play.api.libs.json.Json.toJson(project)(json.projectJson).toString));
    views.bindAll(document.find('.project'));
  </script>
}