@(user: String, breadcrumbs: List[(String, String)])(content: Html)

@moreHead = {
  <script type="text/javascript" src="@routes.JavaScript.routes"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/selector3.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/class.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/missing.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/models.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/views.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/controls.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/init.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/generated/views.projects.conflicts.js")"></script>
}

@main("blueprin.tr", moreHead) {
  <header>
    <h1>Blueprin.tr</h1>
    @user
    <nav>
      <a href="@routes.Projects.index">Blueprintr</a> @for((url, label) <- breadcrumbs) { » <a href="@url">@label</a> }
    </nav>
  </header>
  <article>
    @content
  </article>
  <footer>A Play! Experiment</footer>
}